<h2><%= @flat.name %></h2>
<h4><%= @flat.address %></h4>
<p><%= @flat.description %></p>
<p><%= @flat.price_per_night %>€</p>
<p><%= @flat.number_of_guests %> guests</p>
<p><%= link_to "Back to my flats", flats_path %></p>
<p><%= link_to "Edit this flat", edit_flat_path(@flat) %></p>
<p><%= link_to "Delete",
            flat_path(@flat),
            method: :delete,
            data: { confirm: "Are you sure?" } %></p>
